each checkin in checkins
  .checkin
    .mainline
      strong.user= checkin.user || 'Anonymous'
      if checkin.roastery || checkin.coffee
        |  is drinking a cup of 
        if checkin.roastery && checkin.coffee
          strong.roastery= checkin.roastery
          | 's 
        strong.coffee= checkin.coffee || checkin.roastery
      else
        |  is having a tasty brew 
      if checkin.location
        |  at 
        strong.location= checkin.location
      | .
    .details
      if checkin.brew_method
        span
          | Brew Method: 
          strong.brew_method= checkin.brew_method
      if checkin.origin
        span
          | Origin:
          strong.origin= checkin.origin
    if checkin.comment
      .comment= checkin.comment
    .time= checkin.pretty_age

